
  @import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&family=Belanosima:wght@600&family=Dancing+Script:wght@700&family=Fraunces:wght@400;700&family=Freehand&family=Lobster&family=Manrope:wght@800&family=Merriweather:ital,wght@0,700;1,400;1,900&family=Montserrat:wght@400;500;600&family=Outfit:wght@200;400;700&family=Playfair+Display:wght@600&family=Playfair:wght@600&family=Raleway:wght@400;500&family=Roboto+Condensed:ital,wght@0,400;1,700&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:  hsl(218, 23%, 16%);
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(217, 19%, 24%) ;
    border-radius: 1rem;
    padding: 2rem;
    margin: 3rem auto;
    position: relative;
    width: 25rem;
    
    font-family: 'Manrope', sans-serif;
    
}
.advice
{
  color:hsl(150, 100%, 66%);
  margin: 1.5rem;
  font-size: 0.65rem;
  letter-spacing: 0.3rem;
  text-align: center;
}
.text
{
  color:hsl(193, 38%, 86%);
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
}

#divider
{
  width: 100%;
  margin-bottom: 2rem;
}
.btn{
  height: 3.3rem;
  width: 3.3rem;
  background-color:hsl(150, 100%, 66%) ;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top:90%;
}
.btn:hover{
  cursor: pointer;
  box-shadow: 5px 7px 38px hsl(150, 100%, 66%);
}
#click
{
  width: 40%;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width:400px) {
  .container{
    width: 20rem;
  }
  
}
